# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE" file.

ansible==9.3.0
ansible-lint==24.2.1
black==24.8.0
flake8==7.1.1
passlib==1.7.4
pytest-testinfra==10.1.1
yamllint==1.35.1
