# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE" file.

ansible==2.9.5
ansible-lint==4.2.0
flake8==3.7.9
mitogen==0.2.9
passlib==1.7.2
testinfra==4.1.0
yamllint==1.20.0
