# "composer" Ansible role variables.
#
# Composer downloads and checksums are available at
# <https://getcomposer.org/download/>.
#
# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE" file.

---
# A string containing a checksum used to verify the integrity of the
# Composer PHP archive download "composer.phar". See also
# "composer__composer_version".
composer__composer_checksum: 'sha256:c86ce603fe836bf0861a38c93ac566c8f1e69ac44b2445d9b7a6a17ea2e9972a'

# A string containing the version of Composer to install.
composer__composer_version: '2.9.5'


# The following variables will have host-specific and/or sensitive
# values and must be defined elsewhere (in an inventory, playbook, at
# runtime, etc).

# A string specifying the OAuth token allowing Composer to access
# private repositories on GitHub and to circumvent the low IP-based rate
# limiting of their API. For more information, please see
# <https://getcomposer.org/doc/06-config.md#github-oauth>.
composer__composer_github_oauth_token: '{{ undef() }}'

# A string specifying the host account username to run Composer
# configuration tasks for.
composer__user_username: '{{ undef() }}'
