# {{ ansible_managed }}
#
# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE" file.

<IfModule mod_macro.c>
  <Macro NoQueryStrings>
    RewriteCond %{QUERY_STRING} !=""
    RewriteRule ^(.*)$ $1? [L,R=permanent]
  </Macro>

  <Macro AllowSomeQueryStrings $REGEX>
    RewriteCond %{QUERY_STRING} !=""
    RewriteCond %{REQUEST_URI} $REGEX
    RewriteRule ^(.*)$ $1? [L,R=permanent]
  </Macro>

  <Macro setup__cache_buster_css_js $TIMESTAMP>
    RewriteCond %{REQUEST_FILENAME} ^(.*)\.$TIMESTAMP\.(css|js)$
    RewriteCond %1.%2 -f
    RewriteRule ^(.*)\.$TIMESTAMP\.(css|js)$ $1.$2 [END,NC]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^(.*).(css|js)$ $1.$TIMESTAMP.$2 [L,NE,R=permanent]
    RewriteCond %{REQUEST_FILENAME} ^(.*)\.(\d{14})\.(css|js)$
    RewriteCond %1.%3 -f
    RewriteCond %2 -gt$TIMESTAMP
    RewriteRule ^(.*)\.\d{14}\.(css|js)$ $1.$TIMESTAMP.$2 [L,NE,R=307]
    RewriteCond %{REQUEST_FILENAME} ^(.*)\.\d{14}\.(css|js)$
    RewriteCond %1.%2 -f
    RewriteRule ^(.*)\.\d{14}\.(css|js)$ $1.$TIMESTAMP.$2 [L,NE,R=permanent]
  </Macro>

  <Macro SETUP__ENABLE_PHP $VERSION>
    <IfModule proxy_fcgi_module>
      <IfModule setenvif_module>
        # Enable HTTP authorization headers.
        SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1
      </IfModule>

      <FilesMatch ".+\.ph(ar|p|tml)$">
        <If "-f %{REQUEST_FILENAME}">
          SetHandler "proxy:unix:/run/php/php$VERSION-fpm.sock|fcgi://localhost"
        </If>
      </FilesMatch>

      # Deny access to raw PHP sources.
      <FilesMatch ".+\.phps$">
        Require all denied
      </FilesMatch>

      # Deny access to files without filename.
      <FilesMatch "^\.ph(ar|p|ps|tml)$">
        Require all denied
      </FilesMatch>
    </IfModule>
  </Macro>
</IfModule>
