# {{ ansible_managed }}
#
# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE" file.

AddDefaultCharset utf-8
Alias /.well-known/acme-challenge/ "/var/www/html/.well-known/acme-challenge/"
ErrorDocument 401 "<!DOCTYPE html><title>401</title><pre>401</pre>"
ErrorDocument 403 "<!DOCTYPE html><title>403</title><pre>403</pre>"
ErrorDocument 404 "<!DOCTYPE html><title>404</title><pre>404</pre>"
ErrorDocument 410 "<!DOCTYPE html><title>410</title><pre>410</pre>"
FileETag None
ServerTokens ProductOnly
ServerSignature Off
Protocols h2 h2c http/1.1

ServerName {{ webserver__server_name }}

Header always set Referrer-Policy "strict-origin-when-cross-origin"
Header always set X-Content-Type-Options "nosniff"
Header always set X-XSS-Protection "1; mode=block"

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType application/atom+xml "access plus 0 seconds"
  ExpiresByType application/xhtml+xml "access plus 0 seconds"
  ExpiresByType text/html "access plus 0 seconds"
  ExpiresByType text/plain "access plus 0 seconds"
  {% if webserver__static_caching is sameas true %}
    ExpiresDefault "access plus 1 week"
  {% else %}
    ExpiresDefault "access plus 0 seconds"
  {% endif %}
</IfModule>

<IfModule mod_mime.c>
  # Force UTF-8 encoding for other file formats.
  AddCharset utf-8 .css .js

  # See <https://www.iana.org/assignments/media-types/media-types.xhtml>
  # and <https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/MIME_types/Common_types>.

  AddType application/manifest+json webmanifest
  AddType application/vnd.ms-fontobject eot
  AddType application/x-shockwave-flash swf
  AddType font/otf otf
  AddType font/ttf ttc ttf
  AddType font/woff woff
  AddType font/woff2 woff
  AddType image/avif avif
  AddType image/vnd.microsoft.icon ico
  AddType image/webp webp
  AddType text/javascript js
  AddType text/x-c c
  AddType text/x-diff patch
  AddType text/x-python py
  AddType text/x-shellscript sh
</IfModule>

<IfModule mod_ssl.c>
  # The following is based on the intermediate configuration from
  # <https://ssl-config.mozilla.org/>. For more information, see
  # <https://httpd.apache.org/docs/2.4/ssl/ssl_howto.html>.
  SSLCipherSuite ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
  SSLHonorCipherOrder off
  SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1
  SSLSessionTickets off
  SSLStaplingCache "shmcb:${APACHE_RUN_DIR}/ssl_stapling(32768)"
  SSLUseStapling On
</IfModule>

<IfModule mod_brotli.c>
  <IfModule mod_filter.c>
    AddOutputFilterByType BROTLI_COMPRESS text/html text/plain text/xml text/css
    AddOutputFilterByType BROTLI_COMPRESS application/x-javascript application/javascript application/ecmascript text/javascript application/javascript application/json
    AddOutputFilterByType BROTLI_COMPRESS application/rss+xml
    AddOutputFilterByType BROTLI_COMPRESS application/xml
    AddOutputFilterByType BROTLI_COMPRESS image/svg+xml
    AddOutputFilterByType BROTLI_COMPRESS application/x-font-ttf application/vnd.ms-fontobject image/x-icon
  </IfModule>
</IfModule>

<IfModule mod_deflate.c>
  <IfModule mod_filter.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css
    AddOutputFilterByType DEFLATE application/x-javascript application/javascript application/ecmascript text/javascript application/javascript application/json
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE image/svg+xml
    AddOutputFilterByType DEFLATE application/x-font-ttf application/vnd.ms-fontobject image/x-icon
  </IfModule>
</IfModule>
