; {{ ansible_managed }}
;
; This file was written by Damien Dart, <damiendart@pobox.com>. This is
; free and unencumbered software released into the public domain. For
; more information, please refer to the accompanying "UNLICENCE" file.

pm = dynamic
pm.max_children = {{ webserver__php_fpm_max_children }}
pm.start_servers = {{ webserver__php_fpm_start_servers }}
pm.min_spare_servers = {{ webserver__php_fpm_min_spare_servers }}
pm.max_spare_servers = {{ webserver__php_fpm_max_spare_servers }}
pm.status_path = /{{ webserver__status_path_php_fpm }}
ping.path = /{{ webserver__ping_path_php_fpm }}
ping.response = pong
