# {{ ansible_managed }}
#
# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE" file.

<VirtualHost *:80>
  ServerAdmin {{ webserver__administrator_email }}
  ServerName {{ item.key }}
  {% if item.value.aliases is defined %}
    ServerAlias {{ item.value.aliases | join(" ") }}
  {% endif %}

  ErrorLog ${APACHE_LOG_DIR}/{{ item.key }}.error.log
  CustomLog ${APACHE_LOG_DIR}/{{ item.key }}.access.log combined

  {% if item.key == webserver__server_name %}
    <Location "/server-status">
      <If "-R '127.0.0.1/8'">
        Require local
        SetHandler server-status
      </If>
      <Else>
        Redirect permanent "/" "https://{{ item.key }}/"
      </Else>
    </Location>

    <LocationMatch "/(?!server-status)">
      Redirect permanent "/" "https://{{ item.key }}/"
    </LocationMatch>
  {% else %}
    Redirect permanent "/" "https://{{ item.key }}/"
  {% endif %}
</VirtualHost>

<IfModule mod_ssl.c>
  <VirtualHost *:443>
    ServerAdmin {{ webserver__administrator_email }}
    ServerName {{ item.key }}
    {% if item.value.aliases is defined %}
      ServerAlias {{ item.value.aliases | join(" ") }}
    {% endif %}

    ErrorLog ${APACHE_LOG_DIR}/{{ item.key }}.error.log
    CustomLog ${APACHE_LOG_DIR}/{{ item.key }}.access.log combined

    <IfFile "/etc/lego/certificates/{{ item.key }}.crt">
      {% if not item.value.must_staple | default(false) %}
        SSLUseStapling Off
      {% endif %}
      SSLCertificateFile /etc/lego/certificates/{{ item.key }}.crt
      SSLCertificateKeyFile /etc/lego/certificates/{{ item.key }}.key
    </IfFile>

    <IfFile ! "/etc/lego/certificates/{{ item.key }}.crt">
      SSLCertificateFile /etc/ssl/certs/ssl-cert-snakeoil.pem
      SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key
    </IfFile>

    <If "%{HTTP_HOST} != '{{ item.key }}'">
      Redirect permanent "/" "https://{{ item.key }}/"
    </If>

    <IfModule mod_headers.c>
      Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains"
    </IfModule>

    {% if
      item.key == webserver__server_name
      and webserver__status_path_node_exporter is defined
    %}
      <Location "/{{ webserver__status_path_node_exporter }}">
        AuthName "Authentication Required"
        AuthType Basic
        AuthUserFile "/etc/apache2/node-exporter.htpasswd"
        Require valid-user

        ProxyPreserveHost On
        ProxyPass http://localhost:9100/metrics
        ProxyPassReverse http://localhost:9100/metrics
      </Location>
    {% endif %}

    # Please see the "deploy-website" Ansible role for more information
    # on how websites are deployed.
    <IfFile "/var/www/{{ item.key }}/deployment.apache2.conf">
      Include "/var/www/{{ item.key }}/deployment.apache2.conf"
    </IfFile>

    <IfFile ! "/var/www/{{ item.key }}/deployment.apache2.conf">
      DocumentRoot "/var/www/{{ item.key }}"

      <Directory "/var/www/{{ item.key }}">
        <IfFile "/var/www/{{ item.key }}/.htpasswd">
          AuthType Basic
          AuthName "{{ item.key }}"
          AuthBasicProvider file
          AuthUserFile "/var/www/{{ item.key }}/.htpasswd"
          Require local
          Require valid-user

          <IfModule mod_rewrite.c>
            RewriteEngine on
            RewriteCond %{LA-U:REMOTE_USER} !^$
            RewriteRule ^ - [R=503,L]
          </IfModule>
        </IfFile>

        <IfFile ! "/var/www/{{ item.key }}/.htpasswd">
          <IfModule mod_rewrite.c>
            RewriteEngine on
            RewriteRule ^ - [R=503,L]
          </IfModule>
        </IfFile>
      </Directory>
    </IfFile>
  </VirtualHost>
</IfModule>
