#!/bin/bash
# {{ ansible_managed }}
#
# Runs GoAccess with collated Apache virtual site access logs.
#
# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE file.


USAGE="USAGE: $(basename "$0") SITE"
[ "$#" -lt 1 ] && { printf "Not enough operands\n%s\n" "$USAGE" >&2; exit 2; }

LOG_FILES=$(find "/var/log/apache2/" -iname "$1.access*")
if [[ -z "${LOG_FILES// }" ]]; then
  printf "No access log files found.\n" >&2
  exit 2
else
  # shellcheck disable=SC2086
  zcat -f ${LOG_FILES//$'\n'/ } | goaccess --log-format=COMBINED -
fi
