# {{ ansible_managed }}
#
# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE file.

AddDefaultCharset utf-8
Alias /.well-known/acme-challenge/ "/var/www/html/.well-known/acme-challenge/"
# TODO: Spruce up error responses.
ErrorDocument 403 "<pre>403</pre>"
ErrorDocument 404 "<pre>404</pre>"
ErrorDocument 410 "<pre>410</pre>"
FileETag None
ServerTokens ProductOnly
ServerSignature Off
Protocols h2 h2c http/1.1

{% if development is defined %}
  ServerName {{ server_name }}.{{ ansible_default_ipv4.address }}.xip.io
{% else %}
  ServerName {{ server_name }}
{% endif %}

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType application/xhtml+xml "access plus 0 seconds"
  ExpiresByType text/html "access plus 0 seconds"
  ExpiresByType text/plain "access plus 0 seconds"
  {% if development is defined %}
    ExpiresDefault "access plus 0 seconds"
  {% else %}
    ExpiresDefault "access plus 1 week"
  {% endif %}
</IfModule>

<IfModule mod_mime.c>
  # Force UTF-8 encoding for other file formats.
  AddCharset utf-8 .css .js
  AddType application/javascript js
  AddType application/vnd.ms-fontobject eot
  AddType application/x-font-ttf ttc ttf
  AddType application/x-font-woff woff
  AddType application/x-shockwave-flash swf
  AddType font/opentype otf
  AddType image/x-icon ico
  AddType text/x-c c
  AddType text/x-diff patch
  AddType text/x-python py
  AddType text/x-shellscript sh
</IfModule>

<IfModule mod_macro.c>
  <Macro NoQueryStrings>
    RewriteCond %{QUERY_STRING} !=""
    RewriteRule ^(.*)$ $1? [L,R=permanent]
  </Macro>

  <Macro AllowSomeQueryStrings $regex>
    RewriteCond %{QUERY_STRING} !=""
    RewriteCond %{REQUEST_URI} $regex
    RewriteRule ^(.*)$ $1? [L,R=permanent]
  </Macro>
</IfModule>
