# {{ ansible_managed }}
{% if item.value.env_vars is defined %}
  {% if development is defined and development %}
    {% for i in item.value.env_vars | combine(item.value.env_vars_dev | default({})) | dict2items %}
      {{ i.key }}={{ i.value | string | quote }}
    {% endfor %}
  {% else %}
    {% for i in item.value.env_vars | dict2items %}
      {{ i.key }}={{ i.value | string | quote }}
    {% endfor %}
  {% endif %}
{% endif %}
