# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE" file.

---
# A dictionary where keys are domain names to obtain certificates for.
# Each key can have an optional value consisting of another dictionary
# with the following key-value pairs:
#
# - "aliases": A list of additional domain names to include when
#   obtaining a certificate.
lego__certificates: {}

# A string containing a checksum used to verify the integrity of the
# lego binary archive "lego_v4.31.0_linux_amd64.tar.gz". See
# <https://github.com/go-acme/lego/releases> for archives and checksums.
lego__lego_archive_checksum: 'sha256:3bf525406fee5d31a588f9b278426db972904bf6572e67eba2616f41c2c1b79a'

# A string containing the version of lego to install.
lego__lego_version: '4.31.0'

# An string, or False, containing a post-renewal hook command that is
# executed when a certificate is renewed. If the value is False, the
# hook will be omitted from the certificate renewal cron job.
lego__renewal_hook: 'service apache2 graceful'


# The following variables will have host-specific and/or sensitive
# values and must be defined elsewhere (in an inventory, playbook, at
# runtime, etc).

# A string containing the directory where downloaded files are stored to
# prevent unnecessary downloading when tasks are rerun.
lego__download_cache_directory: '{{ undef() }}'
#
# A string containing the email address associated with a Let's Encrypt
# ACME account. An account will be created if the email address hasn't
# been previously registered.
lego__administrator_email: '{{ undef() }}'
