# {{ ansible_managed }}
#
# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE file.

Detail = High
Format = text
MailTo = {{ email_address }}
MailFrom = {{ email_address }}
Output = mail
Service = "-fail2ban"
Service = "-postfix"
Service = "-sendmail"
Service = "-sshd"
