# Changes will only be made when the "lego__certificate_cleanup"
# variable is set to a truthy value; that way you can use the dry-run to
# review what gets deleted.
#
# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE" file.

---
- name: 'Get all lego-provisioned certificates and related files'
  ansible.builtin.find:
    excludes: '^\.\.?$'
    paths: '/etc/lego/certificates'
  register: __lego_certificates

- name: 'Get all certificate renewal crontab files'
  ansible.builtin.find:
    paths:
      - '/etc/cron.d'
    patterns:
      - '^lego-renew-.*'
    use_regex: true
  register: __crontabs

- name: "Ensure old and unused certificates and renewal crontab files no longer exist{{ ' (DRY RUN)' if not (lego__certificate_cleanup | default(False)) }}"
  ansible.builtin.file:
    path: '{{ item }}'
    state: 'absent'
  when: lego__certificate_cleanup | default(False)
  loop: >
    {{
      __lego_certificates.files
        | map(attribute='path')
        | reject('match', "/etc/lego/certificates/(?:" + lego__certificates.keys() | join('|') + ")")
      + __crontabs.files
        | map(attribute='path')
        | reject('match', "/etc/cron.d/lego-renew-(?:" + lego__certificates.keys() | map('replace', '.', '-') | join('|') + ")")
      | default([])
    }}
