# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE" file.

---
- name: 'Get certificate file status for "{{ item.key }}.crt"' # noqa: name[template]
  ansible.builtin.stat:
    path: '/etc/lego/certificates/{{ item.key }}.crt'
  register: __certificate_status

- name: 'Get certificate information for "{{ item.key }}.crt"' # noqa: name[template]
  community.crypto.x509_certificate_info:
    path: '/etc/lego/certificates/{{ item.key }}.crt'
  register: __certificate_information
  when: __certificate_status.stat.exists

- name: 'Ensure "{{ item.key }}" has a valid certificate' # noqa: name[template]
  ansible.builtin.command:
    cmd: >
      lego
      --accept-tos
      --domains={{ ' --domains='.join([item.key] + (item.value.aliases | default([]) | sort)) }}
      --email="{{ lego__administrator_email }}"
      --http
      --http.webroot="/var/www/html"
      --path="/etc/lego"
      run
      {% if item.value.must_staple | default(false) %}--must-staple{% endif %}
    creates: >-
      {{
        (
          __certificate_status.stat.exists and
          __certificate_information.subject_alt_name
            | map('replace', 'DNS:', '')
            | symmetric_difference([item.key] + (item.value.aliases | default([])))
            | length == 0
        )
          | ternary('/etc/lego/certificates/' + item.key + '.*', omit)
      }}

- name: 'Ensure certificate-renewing cron job exists for "{{ item.key }}"' # noqa: name[template]
  ansible.builtin.cron:
    cron_file: 'lego-renew-{{ item.key | replace(".", "-") }}'
    hour: '0'
    job: >-
      /usr/local/bin/lego
      --accept-tos
      --domains={{ ' --domains='.join([item.key] + (item.value.aliases | default([]) | sort)) }}
      --email="{{ lego__administrator_email }}"
      --http
      --http.webroot="/var/www/html"
      --path="/etc/lego"
      renew
      {% if item.value.must_staple | default(false) %}--must-staple{% endif %}
      {% if lego__renewal_hook %}--renew-hook="{{ lego__renewal_hook }}"{% endif %}
      >> /var/log/lego-renew-{{ item.key | replace(".", "-") }}.log
      2>&1
    minute: '{{ 60 | random(seed=inventory_hostname) }}'
    name: 'renew certificate for {{ item.key }}'
    state: 'present'
    user: 'root'
