# {{ ansible_managed }}
#
# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE" file.

{% set env_vars = deploy_website__vhosts[deploy_website__site_domain].env_vars | default({}) -%}

Define SHARED_ROOT "{{ __vhost_base_directory }}/shared"
Define RELEASE_ROOT "{{ __vhost_base_directory }}/releases/{{ __release_metadata.release_timestamp }}"
Define RELEASE_TIMESTAMP "{{ __release_metadata.release_timestamp }}"
Define VHOST_ROOT "{{ __vhost_base_directory }}"

SetEnv RELEASE_TIMESTAMP "${RELEASE_TIMESTAMP}"
SetEnv RELEASE_GIT_SHA "{{ __release_metadata.release_git_sha }}"
SetEnv SHARED_ROOT "${SHARED_ROOT}"

{% for i in env_vars | dict2items %}
  Define {{ i.key }} "{{ i.value | string }}"
  SetEnv {{ i.key }} "{{ i.value | string }}"
{% endfor %}

<If "%{HTTP_USER_AGENT} == 'deploy-website-smoke-test'">
  header set "X-Release-Timestamp" "${RELEASE_TIMESTAMP}"
</If>

{% if __release_metadata.php_version is defined %}
  <IfModule proxy_fcgi_module>
    <IfModule setenvif_module>
      # Enable HTTP authorization headers.
      SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1
    </IfModule>

    <FilesMatch ".+\.ph(ar|p|tml)$">
      <If "-f %{REQUEST_FILENAME}">
        SetHandler "proxy:unix:/run/php/php{{ __release_metadata.php_version }}-fpm.sock|fcgi://localhost"
      </If>
    </FilesMatch>

    # Deny access to raw PHP sources.
    <FilesMatch ".+\.phps$">
      Require all denied
    </FilesMatch>

    # Deny access to files without filename.
    <FilesMatch "^\.ph(ar|p|ps|tml)$">
      Require all denied
    </FilesMatch>
  </IfModule>
{% endif %}

IncludeOptional "${RELEASE_ROOT}/private/apache2/virtualhost.con[f]"
{% if 'APP_ENV' in env_vars %}
  IncludeOptional "${RELEASE_ROOT}/private/apache2/virtualhost-{{ env_vars['APP_ENV'] }}.con[f]"
{% endif %}

DocumentRoot "${RELEASE_ROOT}/public"

<Directory ${RELEASE_ROOT}/public>
  <IfFile "${VHOST_ROOT}/.htpasswd">
    AuthType Basic
    AuthName "{{ deploy_website__site_domain }}"
    AuthBasicProvider file
    AuthUserFile "${VHOST_ROOT}/.htpasswd"
    Require local
    Require valid-user
  </IfFile>

  IncludeOptional "${RELEASE_ROOT}/private/apache2/directory.con[f]"
  {% if 'APP_ENV' in env_vars %}
    IncludeOptional "${RELEASE_ROOT}/private/apache2/directory-{{ env_vars['APP_ENV'] }}.con[f]"
  {% endif %}
</Directory>

# Variable scope is not a thing in Apache configuration; undefining
# variables prevents any data from being unintentially visible to any
# later configuration directives beyond the enclosing virtual host.

UnDefine SHARED_ROOT
UnDefine RELEASE_ROOT
UnDefine RELEASE_TIMESTAMP
UnDefine VHOST_ROOT

{% for i in env_vars | dict2items %}
  UnDefine {{ i.key }}
{% endfor %}
