#!/bin/bash
# {{ ansible_managed }}
#
# One day this file will contain actual Bash aliases. For now, it's the
# easiest way to include custom bits-and-pieces to your ".bashrc", which
# sources this file. (".bash_profile" is a no-go; for more information,
# see <https://askubuntu.com/a/969923>.)
#
# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE file.


export EDITOR="vim"
export GEM_HOME="$HOME/.gem"
export HISTCONTROL=ignoreboth
export HISTFILESIZE=100000
export HISTSIZE="$HISTFILESIZE"
export HISTTIMEFORMAT='%s '
export NPM_CONFIG_PREFIX="$HOME/.npm"
export PATH="$PATH:$GEM_HOME/bin:$NPM_CONFIG_PREFIX/bin:$HOME/.local/bin"
export PROMPT_COMMAND="history -a;$PROMPT_COMMAND"

shopt -s cmdhist

git config --global core.excludesfile "$HOME/.gitignore"
cat > "$HOME/.gitignore" <<GITIGNORE
*.swp
.idea
node_modules
GITIGNORE

git config --global user.email "{{ development__user_email }}"
git config --global user.name "{{ development__user_full_name }}"

export VIRTUALENVWRAPPER_PYTHON="/usr/bin/python3"
# shellcheck source=/dev/null
source "$HOME/.local/bin/virtualenvwrapper_lazy.sh"
# shellcheck source=/dev/null
source "/usr/local/etc/fzf-completion.bash"
# shellcheck source=/dev/null
source "/usr/local/etc/fzf-key-bindings.bash"
