{#
  This file was written by Damien Dart, <damiendart@pobox.com>. This is
  free and unencumbered software released into the public domain. For
  more information, please refer to the accompanying "UNLICENCE" file.
#}
[pushover]
application_key={{ development__po_application_key }}
user_key={{ development__po_user_key }}
