# "golang" Ansible role variables.
#
# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE" file.

---
# A string containing a checksum used to verify the integrity the Go
# binary archive download "go1.26.0.linux-amd64.tar.gz". See also
# "golang__golang_version". Go binary archives and checksums are
# available at <https://go.dev/dl/>.
golang__golang_archive_checksum: 'sha256:aac1b08a0fb0c4e0a7c1555beb7b59180b05dfc5a3d62e40e9de90cd42f88235'

# A string containing the version of Go to install.
golang__golang_version: '1.26.0'


# The following variables will have host-specific and/or sensitive
# values and must be defined elsewhere (in an inventory, playbook, at
# runtime, etc).

# A string containing the directory where downloaded files are stored to
# prevent unnecessary downloading when tasks are rerun.
golang__download_cache_directory: '{{ undef() }}'
