#!/bin/bash
# shellcheck disable=SC2086
# {{ ansible_managed }}
#
# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE" file.


FOLDERS_TO_BACKUP='{{ backup__directories_to_backup | join(' ') }}'
START_TIMESTAMP="$(date)"
TARSNAP_LOG='/var/log/tarsnap.log'

/usr/bin/tarsnap -c --keyfile /root/tarsnap.key \
    -f "$(uname -n)-$(date +%Y-%m-%d_%H-%M-%S)" \
    $FOLDERS_TO_BACKUP >$TARSNAP_LOG 2>&1
{
  echo
  echo "Started:  $START_TIMESTAMP"
  echo "Finished: $(date)"
} >> $TARSNAP_LOG
