# {{ ansible_managed }}

defaults
auth on
tls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt

account default
host {{ EMAIL_HOST }}
port 587
user {{ EMAIL_ADDRESS }}
from {{ EMAIL_ADDRESS }}
password {{ EMAIL_PASSWORD }}
