# {{ ansible_managed }}
#
# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE file.

<VirtualHost *:80>
  ServerAdmin {{ EMAIL_ADDRESS }}
  ServerName {{ item.key }}
  ServerAlias {{ item.value.aliases | join(" ") }}

  ErrorLog ${APACHE_LOG_DIR}/{{ item.key }}.error.log
  CustomLog ${APACHE_LOG_DIR}/{{ item.key }}.access.log combined

  Redirect permanent "/" "https://{{ item.key }}/"
</VirtualHost>

<IfModule mod_ssl.c>
  <VirtualHost *:443>
    ServerAdmin {{ EMAIL_ADDRESS }}
    ServerName {{ item.key }}
    ServerAlias {{ item.value.aliases | join(" ") }}

    ErrorLog ${APACHE_LOG_DIR}/{{ item.key }}.error.log
    CustomLog ${APACHE_LOG_DIR}/{{ item.key }}.access.log combined

    DocumentRoot /var/www/{{ item.key }}/public

    Include /etc/letsencrypt/options-ssl-apache.conf
    # For more information, see <https://serverfault.com/a/846583>.
    SSLCertificateFile /var/www/{{ item.key }}/fullchain.pem
    SSLCertificateKeyFile /var/www/{{ item.key }}/privkey.pem

    <If "%{HTTP_HOST} != '{{ item.key }}'">
      Redirect permanent "/" "https://{{ item.key }}/"
    </If>

    <IfModule mod_headers.c>
      Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains"
    </IfModule>

    # Allow individual site customisations at the virtual host level.
    IncludeOptional /var/www/{{ item.key }}/virtualhost.apache.con[f]

    <Directory /var/www/{{ item.key }}/public>
      IncludeOptional /var/www/{{ item.key }}/directory.apache.con[f]
    </Directory>

  </VirtualHost>
</IfModule>
