#!/bin/sh
# {{ ansible_managed }}
#
# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE file.


# TODO: Add option to add additional folders to back up.
test -f /root/tarsnap.key && /usr/bin/tarsnap -c \
    -f "$(uname -n)-$(date +%Y-%m-%d_%H-%M-%S)" \
    /etc/letsencrypt /var/www
