# There is some gnarly Jinja filter usage here, so as a precaution
# changes will only be made when the "webserver__vhosts_cleanup"
# variable is set to a truthy value; that way you can use the dry-run to
# review what gets deleted.
#
# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE" file.

---
- name: 'Get all virtual host directories'
  ansible.builtin.find:
    excludes: '^\.\.?$'
    file_type: 'directory'
    paths: '/var/www'
  register: __vhost_directories

- name: 'Get all virtual host configuration files'
  ansible.builtin.find:
    excludes: '^\.\.?$'
    paths: '/etc/apache2/sites-available'
  register: __vhost_conf_files

- name: 'Get configuration files for active virtual hosts'
  ansible.builtin.find:
    excludes: '^\.\.?$'
    file_type: 'link'
    paths: '/etc/apache2/sites-enabled'
  register: __vhost_conf_links

- name: 'Get all website crontab files'
  ansible.builtin.find:
    paths:
      - '/etc/cron.d'
    patterns:
      - '^website-.*'
    use_regex: true
  register: __crontabs

- name: "Ensure old and unused virtual host configuration files no longer exists{{ ' (DRY RUN)' if not (webserver__vhosts_cleanup | default(False)) }}"
  ansible.builtin.file:
    path: '{{ item }}'
    state: 'absent'
  when: webserver__vhosts_cleanup | default(False)
  loop: >
    {{
      __vhost_conf_files.files
        | map(attribute='path')
        | map('replace', '/etc/apache2/sites-available/', '')
        | map('replace', '.conf', '')
        | reject('equalto', 'default-ssl')
        | reject('equalto', '000-default')
        | difference(webserver__vhosts.keys() | list + [('00-' ~ webserver__server_name)])
        | map('regex_replace', '^', '/etc/apache2/sites-available/')
        | map('regex_replace', '$', '.conf')
      + __vhost_conf_links.files
        | map(attribute='path')
        | map('replace', '/etc/apache2/sites-enabled/', '')
        | map('replace', '.conf', '')
        | difference(webserver__vhosts.keys() | list + [('00-' ~ webserver__server_name)])
        | map('regex_replace', '^', '/etc/apache2/sites-enabled/')
        | map('regex_replace', '$', '.conf')
      | default([])
    }}
  notify: 'Reload Apache'

# We force any notified handlers to run to ensure any old and unused
# virtual hosts are no longer active before removing deployment files.
- name: 'Force all currently notified handlers to run'
  ansible.builtin.meta: 'flush_handlers'

# Crontab files are created by the "deploy_website" Ansible role.
- name: "Ensure old and unused virtual host deployment files no longer exists{{ ' (DRY RUN)' if not (webserver__vhosts_cleanup | default(False)) }}"
  ansible.builtin.file:
    path: '{{ item }}'
    state: 'absent'
  when: webserver__vhosts_cleanup | default(False)
  loop: >
    {{
      __vhost_directories.files
        | map(attribute='path')
        | map('regex_replace', '/var/www/(html)?')
        | reject('equalto', '')
        | difference(webserver__vhosts.keys())
        | map('regex_replace', '^', '/var/www/')
      + __crontabs.files
        | map(attribute='path')
        | map('replace', '/etc/cron.d/website-', '')
        | difference(webserver__vhosts.keys() | map('replace', '.', '-'))
        | map('regex_replace', '^', '/etc/cron.d/website-')
      | default([])
    }}
