# {{ ansible_managed }}
#
# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE" file.


defaults
aliases /etc/msmtp.aliases
auth on
syslog on
tls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt

account default
from {{ base__administrator_email }}
host {{ base__mta_hostname }}
password {{ base__mta_password }}
port 587
user {{ base__mta_username }}
